table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

body, div, img, ol, ul, li,
span, h1, h2, h3, h4, h5, h6, p, a,
form, label, legend, fieldset,
table, tbody, tfoot, thead, tr, th, td,
aside, canvas, footer, header, menu, nav,
section, audio, video, input, button, textarea {
  color: #3F3F3F;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
  outline: none; }

img {
  display: block; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
input, textarea {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

button {
  cursor: pointer; }

label {
  cursor: text; }

html {
  font-family: "Rubik", sans-serif; }

body {
  background-color: #FFFFFF;
  display: grid; }

.page-width {
  min-width: 800px; }

header.site-header {
  font-size: 16px;
  z-index: 5;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: #3F3F3F; }
  header.site-header .left-side-header, header.site-header .right-side-header {
    width: 200px;
    padding: 0px 8px; }
  header.site-header .left-side-header {
    display: flex;
    align-items: center; }
    header.site-header .left-side-header a.header-logo {
      font-size: 38px;
      padding: 8px; }
  header.site-header input.search {
    font-size: 15px;
    padding: 10px 14px;
    border-radius: 5px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.05); }
  header.site-header .right-side-header {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header.site-header .right-side-header a.menu-bar-item {
      padding: 12px 8px;
      position: relative; }
      header.site-header .right-side-header a.menu-bar-item:hover::before {
        width: 50%; }
      header.site-header .right-side-header a.menu-bar-item:focus::before {
        width: 80%;
        transform: translate(-50%, -2px); }
      header.site-header .right-side-header a.menu-bar-item::before {
        content: "";
        position: absolute;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
        background-color: #717171;
        bottom: 0px;
        transform: translate(-50%, 0px);
        left: 50%;
        height: 2px;
        width: 0%;
        border-radius: 5px; }
    header.site-header .right-side-header .account-icon-container {
      max-height: 100%;
      position: relative; }
      header.site-header .right-side-header .account-icon-container img.account-icon {
        margin: 10px 0px;
        cursor: pointer;
        padding: 8px;
        width: 35px;
        height: 35px; }
      header.site-header .right-side-header .account-icon-container .account-box {
        z-index: 10;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.24);
        position: absolute;
        right: 0px;
        top: calc(100% - 8px);
        overflow: hidden;
        height: 0px;
        width: 100px;
        pointer-events: none;
        transform-origin: right top;
        transition: 0.2s cubic-bezier(0.4, 0, 1, 1) all; }
        header.site-header .right-side-header .account-icon-container .account-box.visible {
          height: calc(10px + 50px*3 + 10px);
          width: 200px;
          pointer-events: all;
          transition: 0.3s cubic-bezier(0, 0, 0.2, 1) all; }
        header.site-header .right-side-header .account-icon-container .account-box .spacer {
          height: 10px; }
        header.site-header .right-side-header .account-icon-container .account-box a.account-box-item {
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0px 18px;
          flex-grow: 1;
          cursor: pointer; }
          header.site-header .right-side-header .account-icon-container .account-box a.account-box-item .item-text {
            margin-left: 8px;
            font-size: 15px;
            color: #3F3F3F; }
          header.site-header .right-side-header .account-icon-container .account-box a.account-box-item:hover {
            background-color: rgba(0, 0, 0, 0.05); }

html .center-container {
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  top: 70px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  html .center-container p.center-logo {
    font-size: 128px; }
  html .center-container p.tagline {
    font-size: 16px; }

html header.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px; }
  html header.profile-header img.profile-image {
    width: 150px;
    height: 150px;
    align-self: flex-start; }
  html header.profile-header .profile-container {
    width: 500px;
    margin-left: 50px; }
    html header.profile-header .profile-container p.displayname {
      font-size: 32px; }
    html header.profile-header .profile-container .row {
      display: flex;
      margin: 16px 0px; }
      html header.profile-header .profile-container .row p.followers {
        display: inline; }
        html header.profile-header .profile-container .row p.followers span {
          font-weight: 500; }
      html header.profile-header .profile-container .row p.date {
        display: inline;
        margin-left: 64px; }
    html header.profile-header .profile-container p.bio {
      font-size: 15px; }

html .button {
  padding: 12px 8px;
  position: relative;
  display: block;
  background-color: transparent; }
  html .button:hover::before {
    width: 50%; }
  html .button:focus::before {
    width: 80%;
    transform: translate(-50%, -2px); }
  html .button::before {
    content: "";
    position: absolute;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
    background-color: #717171;
    bottom: 0px;
    transform: translate(-50%, 0px);
    left: 50%;
    height: 2px;
    width: 0%;
    border-radius: 5px; }

html .form-container {
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px; }
  html .form-container .form {
    position: relative; }
    html .form-container .form textarea {
      resize: none; }
    html .form-container .form input.form-field, html .form-container .form textarea.form-field, html .form-container .form .tags-box {
      padding: 10px 14px;
      margin-top: 5px;
      margin-bottom: 15px;
      border-radius: 5px;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.05); }
    html .form-container .form input#files {
      display: none; }

html .form-container.upload-form .container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html .form-container.upload-form .container.hidden {
    opacity: 0;
    pointer-events: none; }

html .form-container.upload-form .main-form {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html .form-container.upload-form .main-form.hidden {
    transform: scale(0.9);
    opacity: 0; }

html .form-container.upload-form .thumbnail-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html .form-container.upload-form .thumbnail-container.visible {
    opacity: 0.15; }
  html .form-container.upload-form .thumbnail-container .thumbnail {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; }

html .form-container.upload-form input.form-field, html .form-container.upload-form textarea.form-field, html .form-container.upload-form .tags-box {
  width: 600px; }

html .form-container.upload-form .tags-box {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: calc(10px - 6px);
  cursor: text; }
  html .form-container.upload-form .tags-box .tag {
    padding: 5px 0px;
    margin-right: 10px;
    margin-bottom: 6px;
    line-height: initial; }
    html .form-container.upload-form .tags-box .tag .tag-text {
      display: inline-block;
      word-break: break-word; }
    html .form-container.upload-form .tags-box .tag button.remove-tag {
      display: inline;
      padding: 0px 5px;
      user-select: none;
      font-weight: 300;
      cursor: pointer;
      background-color: transparent;
      position: relative; }
      html .form-container.upload-form .tags-box .tag button.remove-tag:hover::before {
        width: 50%; }
      html .form-container.upload-form .tags-box .tag button.remove-tag:focus::before {
        width: 80%;
        transform: translate(-50%, 6px); }
      html .form-container.upload-form .tags-box .tag button.remove-tag::before {
        content: "";
        position: absolute;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
        background-color: #717171;
        bottom: 0px;
        transform: translate(-50%, 8px);
        left: 50%;
        height: 2px;
        width: 0%;
        border-radius: 5px; }
  html .form-container.upload-form .tags-box input.add-tag {
    padding: 5px 5px;
    margin-bottom: 6px;
    background-color: transparent; }

html .form-container.upload-form button.upload {
  margin: auto; }

html .form-container.settings-form .upload-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px; }
  html .form-container.settings-form .upload-avatar-container .account-icon-thumbnail {
    min-width: 100px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  html .form-container.settings-form .upload-avatar-container .upload-box {
    width: 100%;
    height: 100px;
    position: relative; }
    html .form-container.settings-form .upload-avatar-container .upload-box .container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all; }
      html .form-container.settings-form .upload-avatar-container .upload-box .container.hidden {
        opacity: 0;
        pointer-events: none; }
      html .form-container.settings-form .upload-avatar-container .upload-box .container button.files {
        margin: auto; }

html .form-container.settings-form button.upload {
  margin: auto; }

html .images-container {
  display: flex; }
  html .images-container .column {
    width: 100%;
    margin-right: 24px; }
    html .images-container .column:first-child {
      margin-left: 24px; }
    html .images-container .column .image {
      display: block;
      width: 100%;
      margin-bottom: 24px;
      position: relative; }
      html .images-container .column .image:hover .row.row-left {
        opacity: 0.8; }
      html .images-container .column .image:hover .row.row-right {
        opacity: 1; }
      html .images-container .column .image:hover .gradient {
        opacity: 1; }
      html .images-container .column .image .icon {
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        cursor: pointer; }
      html .images-container .column .image .row {
        opacity: 0;
        transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) all;
        display: flex;
        position: absolute;
        align-items: center;
        bottom: 0px;
        z-index: 1; }
        html .images-container .column .image .row.row-left {
          left: 0px;
          padding: 4px 4px;
          margin: 8px 8px;
          opacity: 0;
          transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) all; }
          html .images-container .column .image .row.row-left:hover {
            opacity: 1; }
          html .images-container .column .image .row.row-left img.profile-picture {
            width: 24px;
            height: 24px; }
          html .images-container .column .image .row.row-left p.displayname {
            margin-left: 12px;
            color: white;
            font-size: 15px; }
        html .images-container .column .image .row.row-right {
          right: 0px; }
          html .images-container .column .image .row.row-right .like, html .images-container .column .image .row.row-right .download {
            padding: 4px 4px;
            margin: 8px 8px; }
          html .images-container .column .image .row.row-right .like {
            margin-right: 0px;
            opacity: 0.8;
            transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) all;
            background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>'); }
            html .images-container .column .image .row.row-right .like:hover {
              opacity: 1; }
            html .images-container .column .image .row.row-right .like .liked {
              background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>'); }
          html .images-container .column .image .row.row-right .download {
            margin-left: 0px;
            opacity: 0.8;
            background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); }
            html .images-container .column .image .row.row-right .download:hover {
              opacity: 1; }
      html .images-container .column .image a.image-link img.image {
        width: 100%; }
      html .images-container .column .image .gradient {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0px;
        background-image: linear-gradient(180deg, transparent 0, transparent 60%, rgba(0, 0, 0, 0.3)); }
  html .images-container .sample-image {
    display: none; }
