table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

body, div, img, ol, ul, li,
span, h1, h2, h3, h4, h5, h6, p, a,
form, label, legend, fieldset,
table, tbody, tfoot, thead, tr, th, td,
aside, canvas, footer, header, menu, nav,
section, audio, video, input, button, textarea {
  color: #3F3F3F;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
  outline: none; }

img {
  display: block; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
input, textarea {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

button {
  cursor: pointer; }

label {
  cursor: text; }

html {
  font-family: "Rubik", sans-serif; }

body {
  background-color: #FFFFFF;
  display: grid; }

.page-width {
  min-width: 800px; }

header.site-header {
  font-size: 16px;
  z-index: 5;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: #3F3F3F; }
  header.site-header .left-side-header, header.site-header .right-side-header {
    width: 200px;
    padding: 0px 8px; }
  header.site-header .left-side-header {
    display: flex;
    align-items: center; }
    header.site-header .left-side-header a.header-logo {
      font-size: 38px;
      padding: 8px; }
  header.site-header input.search {
    font-size: 15px;
    padding: 10px 14px;
    border-radius: 5px;
    width: 250px;
    background-color: #F3F3F3; }
  header.site-header .right-side-header {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header.site-header .right-side-header a.menu-bar-item {
      padding: 12px 8px;
      position: relative; }
      header.site-header .right-side-header a.menu-bar-item:hover::before {
        width: 50%; }
      header.site-header .right-side-header a.menu-bar-item:focus::before {
        width: 80%;
        transform: translate(-50%, -2px); }
      header.site-header .right-side-header a.menu-bar-item::before {
        content: "";
        position: absolute;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
        background-color: #717171;
        bottom: 0px;
        transform: translate(-50%, 0px);
        left: 50%;
        height: 2px;
        width: 0%;
        border-radius: 5px; }
    header.site-header .right-side-header .account-icon-container {
      max-height: 100%;
      position: relative; }
      header.site-header .right-side-header .account-icon-container img.account-icon {
        margin: 10px 0px;
        cursor: pointer;
        padding: 8px;
        width: 35px;
        height: 35px; }
      header.site-header .right-side-header .account-icon-container .account-box {
        z-index: 10;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.24);
        position: absolute;
        right: 0px;
        top: calc(100% - 8px);
        overflow: hidden;
        height: 0px;
        width: 100px;
        pointer-events: none;
        transform-origin: right top;
        transition: 0.2s cubic-bezier(0.4, 0, 1, 1) all; }
        header.site-header .right-side-header .account-icon-container .account-box.visible {
          height: calc(10px + 50px*3 + 10px);
          width: 200px;
          pointer-events: all;
          transition: 0.3s cubic-bezier(0, 0, 0.2, 1) all; }
        header.site-header .right-side-header .account-icon-container .account-box .spacer {
          height: 10px; }
        header.site-header .right-side-header .account-icon-container .account-box a.account-box-item {
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0px 18px;
          flex-grow: 1;
          cursor: pointer; }
          header.site-header .right-side-header .account-icon-container .account-box a.account-box-item .item-text {
            margin-left: 8px;
            font-size: 15px;
            color: #3F3F3F; }
          header.site-header .right-side-header .account-icon-container .account-box a.account-box-item:hover {
            background-color: #F3F3F3; }

html .center-container {
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  top: 70px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  html .center-container p.center-logo {
    font-size: 128px; }
  html .center-container p.tagline {
    font-size: 16px; }

html .stuff {
  height: 900px;
  width: 200px;
  margin: auto;
  background-color: #FFA65C; }

html .button {
  padding: 12px 8px;
  position: relative;
  display: block;
  background-color: transparent; }
  html .button:hover::before {
    width: 50%; }
  html .button:focus::before {
    width: 80%;
    transform: translate(-50%, -2px); }
  html .button::before {
    content: "";
    position: absolute;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
    background-color: #717171;
    bottom: 0px;
    transform: translate(-50%, 0px);
    left: 50%;
    height: 2px;
    width: 0%;
    border-radius: 5px; }

html .form-container {
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px; }
  html .form-container .form {
    position: relative; }
    html .form-container .form textarea {
      resize: none; }
    html .form-container .form input.form-field, html .form-container .form textarea.form-field, html .form-container .form .tags-box {
      padding: 10px 14px;
      margin-top: 5px;
      margin-bottom: 15px;
      border-radius: 5px;
      width: 250px;
      background-color: #F3F3F3; }

html .form-container.upload-form .container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html .form-container.upload-form .container.hidden {
    opacity: 0;
    pointer-events: none; }

html .form-container.upload-form .main-form {
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html .form-container.upload-form .main-form.hidden {
    transform: scale(0.9);
    opacity: 0; }

html .form-container.upload-form input#files {
  display: none; }

html .form-container.upload-form input.form-field, html .form-container.upload-form textarea.form-field, html .form-container.upload-form .tags-box {
  width: 600px; }

html .form-container.upload-form .tags-box {
  background-color: #F3F3F3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: calc(10px - 6px);
  cursor: text; }
  html .form-container.upload-form .tags-box .tag {
    padding: 5px 0px;
    margin-right: 10px;
    margin-bottom: 6px;
    line-height: initial; }
    html .form-container.upload-form .tags-box .tag .tag-text {
      display: inline-block;
      word-break: break-word; }
    html .form-container.upload-form .tags-box .tag button.remove-tag {
      display: inline;
      padding: 0px 5px;
      user-select: none;
      font-weight: 300;
      cursor: pointer;
      background-color: transparent;
      position: relative; }
      html .form-container.upload-form .tags-box .tag button.remove-tag:hover::before {
        width: 50%; }
      html .form-container.upload-form .tags-box .tag button.remove-tag:focus::before {
        width: 80%;
        transform: translate(-50%, 6px); }
      html .form-container.upload-form .tags-box .tag button.remove-tag::before {
        content: "";
        position: absolute;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
        background-color: #717171;
        bottom: 0px;
        transform: translate(-50%, 8px);
        left: 50%;
        height: 2px;
        width: 0%;
        border-radius: 5px; }
  html .form-container.upload-form .tags-box input.add-tag {
    padding: 5px 5px;
    margin-bottom: 6px;
    background-color: transparent; }

html .form-container.upload-form button.upload {
  margin: auto; }
