header.profile-header
    img.profile-image(src= userPage.profilePictureURL)
    .profile-container
        p.displayname= userPage.displayname
        .row
            p.followers <span>!{userPage.followers}</span> followers
            p.date= "Joined "+userPage.formattedDate
        p.bio= userPage.bio
.tab-menu.user-page
    button.button.tab.images-tab <span>x</span> Images
    button.button.tab.liked-tab <span>x</span> Liked
    button.button.tab.collections-tab <span>x</span> Collections
    button.button.tab.following-tab <span>x</span> Following
    button.button.tab.followers-tab <span>x</span> Followers
    button.right-side.highlighted-button.follow Follow
.images-container
    //- each image in images
    //-     .image
    //-         img(src="/i/"+image.filename)
    .column.col-0
    .column.col-1
    .column.col-2
    .sample-image
        a.row.row-left
            img.profile-picture
            p.displayname
        .row.row-right
            .icon.like
            .icon.download
        a.image-link
            img.image
        .gradient
