header.profile-header
    img.profile-image(src= user.profilePictureURL)
    .profile-container
        //- p.displayname=user.displayname
        p.displayname= user.displayname
        p.followers <span>!{user.followers}</span> followers
        p.date= "Joined "+user.formattedDate
        p.bio= user.bio
.images-container
    //- each image in images
    //-     .image
    //-         img(src="/i/"+image.filename)
    .column.col-0
    .column.col-1
    .column.col-2
    a.sample-image
        img
