.form-container
    position: absolute
    height: calc(100% - #{$header-height})
    width: 100%
    top: 70px

    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    font-size: 15px
    .form
        position: relative
        .row
            display: flex
            width: 500px
            .field
                width: 100%
                &:not(:last-child)
                    margin-right: calc(15px + 5px + 18px)
                input
                    width: calc(100% - 14px*2)
        textarea
            resize: none
        input.form-field, textarea.form-field, .tags-box
            padding: 10px 14px
            margin-top: 5px
            margin-bottom: 15px
            border-radius: 5px
            width: 250px
            background-color: $white-dark
        input#files
            display: none
.form-container.register-form
    @media (max-height: 500px)
        position: static
        height: calc(500px - #{$header-height})
.form-container.login-form
    @media (max-height: 400px)
        position: static
        height: calc(400px - #{$header-height})
.form-container.upload-form
    @media (max-height: 500px)
        position: static
        height: calc(500px - #{$header-height})
    .container
        position: absolute
        width: 100%
        height: 100%
        z-index: 1
        opacity: 1
        display: flex
        align-items: center
        justify-content: center
        transition: $transition-20 all
        &.hidden
            opacity: 0
            pointer-events: none
    .main-form
        &.hidden
            transform: scale(0.9)
            opacity: 0
        transition: $transition-20 all
    .thumbnail-container
        position: fixed
        width: 100%
        height: 100%
        top: 0px
        left: 0px
        pointer-events: none
        opacity: 0
        transition: $transition-40 all
        &.visible
            opacity: 0.15
        .thumbnail
            background-size: cover
            background-position: center
            width: 100%
            height: 100%
    input.form-field, textarea.form-field, .tags-box
        width: 600px
    .tags-box
        background-color: $white-dark
        display: flex
        flex-wrap: wrap
        padding-bottom: calc(10px - 6px)
        $tag-padding: 5px
        cursor: text
        .tag
            padding: $tag-padding 0px
            margin-right: 10px
            margin-bottom: 6px
            line-height: initial
            .tag-text
                display: inline-block
                word-break: break-word
            button.remove-tag
                display: inline
                padding: 0px $tag-padding
                user-select: none
                font-weight: 300
                cursor: pointer
                background-color: transparent

                position: relative
                &:hover::before
                    width: 50%
                &:focus::before
                    width: 80%
                    transform: translate(-50%, 6px)
                &::before
                    content: ""
                    position: absolute
                    transition: $transition-20 all
                    background-color: $gray-line
                    bottom: 0px
                    transform: translate(-50%, 8px)
                    left: 50%
                    height: 2px
                    width: 0%
                    border-radius: 5px
        input.add-tag
            padding: $tag-padding $tag-padding
            margin-bottom: 6px
            background-color: transparent
    button.upload
        margin: auto
.form-container.settings-form
    @media (max-height: 500px)
        position: static
        height: calc(500px - #{$header-height})
    .upload-avatar-container
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 15px
        width: 300px
        margin-right: auto
        margin-left: auto
        .account-icon-thumbnail
            pointer-events: none
            min-width: 100px
            width: 100px
            height: 100px
            background-position: center
            background-size: contain
            background-repeat: no-repeat
        .upload-box
            pointer-events: none
            width: 100%
            height: 100px
            position: relative
            .container
                position: absolute
                width: 100%
                height: 100%
                z-index: 1
                opacity: 1
                display: flex
                align-items: center
                justify-content: center
                transition: $transition-20 all
                &.hidden
                    opacity: 0
                    pointer-events: none
                button.files
                    margin: auto
            .container.select-file
                button.files
                    pointer-events: all
            .container.select-file.hidden
                button.files
                    pointer-events: none
    input.form-field, textarea.form-field
        width: calc(500px - 14px*2)
    button.save
        margin: auto
