.center-container
    position: absolute
    height: calc(100% - #{$header-height})
    width: 100%
    top: 70px

    min-height: 200px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    p.center-logo
        font-size: 128px
    p.tagline
        font-size: 16px
