html
    font-family: "Rubik", sans-serif
body
    background-color: $white
    display: grid
main.page-container
    // margin: 30px
.page-width
    min-width: 800px

header.site-header
    font-size: 16px
    z-index: 5
    height: $header-height
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0px 20px
    color: $black
    .left-side-header, .right-side-header
        width: 200px
        padding: 0px 8px
    .left-side-header
        display: flex
        align-items: center
        a.header-logo
            font-size: 38px
            padding: 8px
    input.search
        font-size: 15px
        padding: 10px 14px
        border-radius: 5px
        width: 250px
        background-color: $white-dark
    .right-side-header
        display: flex
        align-items: center
        justify-content: flex-end
        a.menu-bar-item
            padding: 12px 8px
            position: relative
            &:hover::before
                width: 50%
            &:focus::before
                width: 80%
                transform: translate(-50%, -2px)
            &::before
                content: ""
                position: absolute
                transition: $transition-20 all
                background-color: $gray-line
                bottom: 0px
                transform: translate(-50%, 0px)
                left: 50%
                height: 2px
                width: 0%
                border-radius: 5px
        .account-icon-container
            max-height: 100%
            position: relative
            img.account-icon
                margin: 10px 0px
                cursor: pointer
                padding: 8px
                width: 35px
                height: 35px
            .account-box
                z-index: 10
                background-color: #FFFFFF
                box-shadow: $shadow-4
                position: absolute
                right: 0px
                top: calc(100% - 8px)
                overflow: hidden

                height: 0px
                width: 100px
                pointer-events: none
                transform-origin: right top
                transition: $transition-20-out all
                &.visible
                    height: calc(10px + 50px*3 + 10px)
                    width: 200px
                    pointer-events: all
                    transition: $transition-30-in all
                .spacer
                    height: 10px
                a.account-box-item
                    height: 50px
                    display: flex
                    align-items: center
                    padding: 0px 18px
                    flex-grow: 1
                    cursor: pointer
                    .item-text
                        margin-left: 8px
                        font-size: 15px
                        color: $black
                    &:hover
                        // background-color: #F2F2F2
                        background-color: $white-dark
