html
    font-family: "Rubik", sans-serif
body
    background-color: $white
    display: grid
main.page-container
    margin: 30px

header.site-header
    z-index: 5
    height: $header-height
    // background-color: #16C19D
    // background-color: #5A73E2
    // background-color: #2A2A2A
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0px 20px
    color: $black
    a.header-logo
        font-size: 38px
        padding: 8px
    input.search
        padding: 10px 14px
        border-radius: 5px
        width: 250px
        background-color: $white-dark
