header.profile-header
    display: flex
    justify-content: center
    align-items: center
    margin: 50px 0px
    img.profile-image
        width: 150px
        height: 150px
        align-self: flex-start
    .profile-container
        width: 500px
        margin-left: 50px
        p.displayname
            font-size: 32px
        .row
            display: flex
            margin: 16px 0px
            p.followers
                span
                    font-weight: 500
                display: inline
            p.date
                display: inline
                margin-left: 64px
        p.bio
            font-size: 15px
